* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter";
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: linear-gradient(to top right, cornflowerblue 0%, darkblue 100%); */
  background-color: #fff;
}

.itemz {
  display: grid;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  margin: 2% 2% 1% 2%;
}

.btn-nor {
  align-content: center;
  justify-content: center;
  padding: 10px;
  width: 100%;
  height: auto;
  color: black;
  background-color: white;
  border: 2px solid black;
  border-radius: 25px;
  font-weight: 600;
}

.btn-nor:hover {
  background-color: rgba(211, 211, 211, 0.1);
  color: #202020;
}

.btn-nand {
  align-content: center;
  justify-content: center;
  padding: 10px;
  width: 100%;
  height: auto;
  color: black;
  background-color: white;
  border: 2px solid black;
  border-radius: 25px;
  font-weight: 600;
}

.btn-nand:hover {
  background-color: rgba(211, 211, 211, 0.1);
  color: #202020;
}

.text-tampilan {
  text-align: left;
}

/* Tambahkan ini untuk menengahkan judul */
h2 {
  margin: 30px;
  font-family: "inter";
  font-weight: 700;
  /* Menambahkan margin bawah untuk memberikan jarak */
}

.info-p {
  text-align: justify;
  margin: auto 5% auto 5%;
}

/* box luar */
.container {
  max-width: 800px;
  background: #eaeaea;
  border-radius: 25px;
  width: 800px;
  padding: 20px;
  border: 2px solid #000;
  box-shadow: 6px 6px 2px #000;
}

.wrapper {
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 40px;
  padding-bottom: 15px;
  background-color: #e6dbdb;
  border: 2px solid #202020;
}

.equals {
  border: 2px solid #202020;
  border-radius: 25px;
  text-decoration: none;
  display: inline-block;
  width: 30px;
  height: 30px;
  background: #80b445;
  font-size: 1rem;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: 10px;
  font-family: "Inter";
}

.delete {
  text-decoration: none;
  display: inline-block;
  background: #f44336;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  width: 30px;
  height: 30px;
  color: #fff;
  margin-left: auto;
  margin-right: 10px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-family: "Inter";
}

.inp-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.label-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.inputR,
.inputS,
.Hasil-pert {
  border: none;
  background-color: #fff;
  border-radius: 25px;
  text-align: center;
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  /* Menambahkan margin atas untuk memberikan jarak antara label dan input */
}

#container2 {
  display: none;
  background-color: white;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 300px;
  border-radius: 25px;
  border: 2px solid #202020;
  box-shadow: 15px 15px 0px #000;
}

#msg2 {
  font-size: medium;
  font-weight: 500;
  font-family: "Inter";
  vertical-align: middle;
  text-align: start;
  color: rgb (66, 66, 66);
}

#msg2 h3 {
  text-align: center;
}

#msg2 #hl-1 {
  margin: 1.5em 3em;
}

.center-text {
  text-align: center;
}

#msg-hlm2-1 #hl-2.center-text {
  /* Tambahan gaya jika diperlukan */
  font-size: smaller;
}


#close {
  color: maroon;
  color: white;
  display: block;
  font-weight: 600;
  width: 30px;
  height: 30px;
  margin: 5px 5px auto auto;
  border-radius: 25px;
  background-color: red;
}

#close:hover {
  color: red;
  background-color: maroon;
  cursor: pointer;
}

#ShowMe {
  align-content: center;
  justify-content: center;
  padding: 10px;
  width: 100%;
  height: auto;
  color: black;
  background-color: white;
  border: 2px solid black;
  border-radius: 25px;
  font-weight: 600;
}

#ShowMe:hover {
  background-color: rgba(211, 211, 211, 0.1);
  color: #202020;
}

#container3 {
  display: none;
  background-color: white;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 300px;
  border-radius: 25px;
  border: 2px solid #202020;
  box-shadow: 0 2px 2px 1000px rgba(0, 0, 0, 0.2);
}

#msg3 {
  font-size: medium;
  font-weight: 500;
  font-family: "Inter";
  vertical-align: middle;
  text-align: start;
  color: rgb (66, 66, 66);
}

#msg3 h3 {
  text-align: center;
}

#msg3 p {
  margin: 0 3em;
}



#close2 {
  color: maroon;
  color: white;
  display: block;
  width: 30px;
  height: 30px;
  font-weight: 600;
  margin: 5px 5px auto auto;
  border-radius: 25px;
  background-color: red;
}

#close:hover {
  color: red;
  background-color: maroon;
  cursor: pointer;
}

#infobtn {
  align-content: center;
  justify-content: center;
  padding: 10px;
  width: 100%;
  height: auto;
  color: black;
  background-color: white;
  border: 2px solid black;
  border-radius: 25px;
  font-weight: 600;
}

#infobtn:hover {
  background-color: rgba(211, 211, 211, 0.1);
  color: #202020;
}